@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@layer base {
  /*  Default (Light) Theme */
  :root {
    --grey-100: #56524f;
    --white-100: #ffffff;
    --white-200: #f5f5f5;
    --brown-100: #b5aba1;
  }
}

@theme {
  --color-grey-100: var(--grey-100);
  --color-white-100: var(--white-100);
  --color-white-200: var(--white-200);
  --color-brown-100: var(--brown-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
